@{
    ViewData["Title"] = "Contact";
    Layout = "_BasicLayout";
}

<h1>Contact</h1>
<nav>
    <ul>
        <li>
            <a class="btn btn-dark" asp-action="Index">Home</a>
            <a class="btn btn-outline-dark" asp-action="Writing">Writing</a>
            <a class="btn btn-dark" asp-action="Photography">Photography</a>
            <a class="btn btn-outline-dark" asp-action="Programming">Programming</a>
            <a class="btn btn-dark" asp-action="Contact">Contact</a>
        </li>
    </ul>
</nav>

<p>PatrickSBJGD@gmail.com</p>