@{
    ViewData["Title"] = "Home";
    Layout = "_BasicLayout";
}

<h1>Patrick Behrens-Jungfer</h1>
<nav>
    <ul>
        <li>
            <a class="btn btn-dark" asp-action="Index">Home</a>
            <a class="btn btn-outline-dark" asp-action="Writing">Writing</a>
            <a class="btn btn-dark" asp-action="Photography">Photography</a>
            <a class="btn btn-outline-dark" asp-action="Programming">Programming</a>
            <a class="btn btn-dark" asp-action="Contact">Contact</a>
        </li>
    </ul>
</nav>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut interdum mi, eget interdum odio. Morbi consequat cursus leo, finibus accumsan lorem 
    tincidunt eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed maximus mollis ultricies. Quisque tellus erat, vestibulum non commodo sit
    amet, feugiat et risus. Mauris a porta odio. Nullam elementum tellus nec mauris dictum, at sodales mauris maximus. Nam ultrices velit odio.
</p>
<p>
    Morbi ut volutpat lorem. Aenean tortor orci, lacinia feugiat eleifend at, accumsan id ex. Duis euismod augue ut quam interdum, a auctor tellus ultrices. 
    Aenean fermentum dapibus massa ac imperdiet. Praesent cursus tristique pretium. Suspendisse nisi quam, finibus sed posuere lacinia, malesuada a magna.
    Donec quis turpis ipsum. Praesent sed tortor vestibulum, consequat nulla euismod, tempus massa.
</p>
