@{
    ViewData["Title"] = "Photo";
    Layout = "_BasicLayout";
}

<h1>Photos</h1>
<nav>
    <ul>
        <li>
            <a class="btn btn-dark" asp-action="Index">Home</a>
            <a class="btn btn-outline-dark" asp-action="Writing">Writing</a>
            <a class="btn btn-dark" asp-action="Photography">Photography</a>
            <a class="btn btn-outline-dark" asp-action="Programming">Programming</a>
            <a class="btn btn-dark" asp-action="Contact">Contact</a>
        </li>
    </ul>
</nav>

<div id="gallery">
    <img src="~/images/_MG_3732.JPG" alt="">
    <img src="~/images/_MG_3817.JPG" alt="">
    <img src="~/images/_MG_4274.JPG" alt="">
    <img src="~/images/MG_3718.JPG" alt="">
</div>