@model List<Riddle>
@{
    ViewData["Title"] = "Programming";
    Layout = "_BasicLayout";

}



<h1>Programming</h1>
<nav>
    <ul>
        <li>
            <a class="btn btn-dark" asp-action="Index">Home</a>
            <a class="btn btn-outline-dark" asp-action="Writing">Writing</a>
            <a class="btn btn-dark" asp-action="Photography">Photography</a>
            <a class="btn btn-outline-dark" asp-action="Programming">Programming</a>
            <a class="btn btn-dark" asp-action="Contact">Contact</a>
        </li>
    </ul>
</nav>

<form id="playerForm" method="post">
    <div class="form-group">
        <label for="playerName">Player Name</label><br />
        <input name="playerName" /><br />
    </div>
    <input onclick="setupPage()" type="submit" class="btn btn-dark" value="Enter" />
</form>

@foreach (Riddle riddle in Model)
{
    <p>@riddle.RiddleText</p>
    <input />
}

<button id="submitAnswersButton" onclick="checkAnswers" style="margin-top: 10px;" class="btn btn-outline-success">Submit</button>

