@{
    ViewData["Title"] = "Writing";
    Layout = "_BasicLayout";
}

<h1>Writing</h1>
<nav>
    <ul>
        <li>
            <a class="btn btn-dark" asp-action="Index">Home</a>
            <a class="btn btn-outline-dark" asp-action="Writing">Writing</a>
            <a class="btn btn-dark" asp-action="Photography">Photography</a>
            <a class="btn btn-outline-dark" asp-action="Programming">Programming</a>
            <a class="btn btn-dark" asp-action="Contact">Contact</a>
        </li>
    </ul>
</nav>
<div id="leftStory">
    <h2>Story One</h2>
    <p>
        The most prevalent building material in the city was basalt. The magnesium-rich lava that flowed from the active volcano would harden and then be mined. It provided a steady source for construction, from tools to large homes. It didn’t always cool the same color, so creations  made from this stone ranged from a light grey to dark black. That combined with the large hung tapestries formed a city that never became boring to look at.
        Normally when Crith walked he would look straight or down, but recently he decided to begin looking up more, get a different perspective on his surroundings. Already it provided him new things to look at. Across the town square, up on a balcony, a man sat on the ledge. He had had one knee up, arm draped over it. He wore deep black robes that had no hood. Thin red lines swirled all over the cloth, giving the outfit a little color. He would be like any other citizen going about their business if it wasn’t for one thing. The stranger stared directly at him.
        The first time Crith noticed he just looked away and thought nothing of it, but something about him made him weary.He was getting a strange vibe. Trying to avoid his gaze, he joined a crowd of vendors and shoppers near the vepo that stood directly between them.
        Vepos were large grates set in the ground in that allowed steam from below to escape. Magma flowing underground would come into contact with water, heat it, and the result would sometimes cause geysers or phreatic explosions. These Ignial-made openings would relieve the pressure. It was a popular spot for children to play while their parents bought or traded goods.
        Crith walked out the other side and peered over to the ledge once more. There he was, the same position as before, head spun directly to his position. Being closer now he could see robed observer's features slightly more clearly. Medium length wavy hair fell on the right side, while the left was shaved short. Some sort of symbol was cut into the left side, but it was too far to tell what it was.
        “What a freak.” Crith said to himself, with a quiet snort.. At this point in his life, he was not confrational enough to do anything about this kind of situation. So what was the next best option? Ignore it and move on. Besides, he had to get to class. And with that, he rounded a few more corners. Tradesmen, food carts, and merchants all vyed for his attention. The food was the only thing that made him yearn, but there was no time.
        Coming around the last turn he entered the Socrium’s courtyard. It was fairly large. Dark shaded basalt walkways showed the way. There were three that all started from town and all converged into one that led to the main entrance of the building itself. Standing in the intersection point rose two towering statues, at least ten meters tall. Crith stopped atop a set of stairs that led down into the center. With great severity they stood. One was of a man, while the other was of a woman. Both figures knelt, palms together in prayer, necks angled up towards the sun.  In contrast to the dark walkways, this installation was smooth, white granite. Around their eyes was carved a blindfold, blacker than coal. Where the kneeler’s eyes should have been, the sculpted cloth sunk into the sockets, wrinkled. Only an expert could have done such detail. All around the empty cavities, flowing from beneath the blindfold, was painted blood.
        He walked down to the statue, stopping before the gold plaque fixed to the front. It read Boru enu Clesum in Ingen, the native language of Ignials. Roughly translated, it meant "Blind Atonement". Crith had seen it before. When his mother was alive, she would try to steer him away from it,  saying it's not something he had to see. Of course, eventually he managed to witness it.  Six years ago, they were wondering the marketplace.
    </p>
</div>
<div id="rightStory">
    <h2 id="rightStory">Story Two</h2>
    <p>
        The horse padded along through the mud.  It was a dark and dreary day, with light sprinkles of rain. Bachi liked the rain, but only when he was warm and dry inside a tavern. The rain would cover the windows in droplets and provide a soft and constant sound that gave him something to focus on. With something to focus on, it was easier to not think about what he tried to forget. And with that would come restful sleep. Without it, sleep was hard to come by. A loud voice broke through the thoughts.
        “Ey! ‘old on a minute there!” He spoke with the broken words used by farmers and commoners. Bachi turned toward the sound to see a scrawny middle aged man running toward him. He stopped his horse as the man squished his way through the mud.
        “You’re a tall one ain’t yuh?” he said looking up at Bachi, who seemed even more tall and intimidating being on his horse. The stranger waited for a  response, but when none came, continued. “You lookin’ for any work? Cause I got a problem needs solvin’ quick”.
        Bachi finally broke a smile.
        “Depends. What’s the job?” His voice was low but with a hint of cheerfulness that made for a more casual tone.  The man seemed to relax now that he wasn’t staring him down with a blank face.
        “You scared me for a second there, thought you was about to chop me in two with that big spear of yours.”
        “This thing?” he pulled his weapon off his back and brandished it around. “This is a glaive my good man. Great for slicing and stabbing from a distance” As he twirled it around, the expression on the man’s face was a mixture of fear and hope.
        “So you know how to use it?”
        “Of course”
        “ Ya’ see some no good scoundrels wanna take my property, thinkin’ they the rightful owners. Help me out would ya’” he said with a look of annoyance.
        “Are they?”
        “No!”
        “Did you build it?”
        “Er, well no, my pops passed it on to me”
        “Did he build it?” Bachi asked, genuinely curious.
        “He came across it abandoned and claimed it as his own!”
        “So now it’s yours,” he said, feeling a laugh creeping up. “And people who say they own it are coming to take it from you?”
        “That’s right. Some sons of some lord who say it’s always been theirs” The man kept wringing his hands while speaking.
    </p>
</div>
